html, body {
    margin: 0;
    height: 100%;
}

:root {
    --yellow: #ffc60b;
    --orange: #fc9744;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: url(https://media.istockphoto.com/id/1687246566/vector/seamless-spicy-hot-wings-and-sauce-doodles.jpg?s=612x612&w=0&k=20&c=Py2oW0A2UVXD-JkXk8O0L2uA67l8mA9XJJ7HuPRL1h4=);
}

header {
    /* border: 1px solid black; */
    background-color: var(--orange);
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

nav > button {
    position: relative;
    background-color: var(--yellow);
    min-width: 200px;
    padding: 20px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
}

nav > button:hover {
    cursor: pointer;
}

#content {
    border: 1px solid red;
    height: 80%;
}


/* Header button animation */
 button:focus {
     animation: burn 1000ms ease-out forwards;
}
 button:focus::before {
   content: '';
   position: absolute;
   left: 40px;
   width: 100px;
   height: 40px;
   background: rgba(255, 230, 110, 1);
   border-radius: 100%;
   animation: flare 1000ms ease-out forwards;
}
 button:focus::after {
   content: '';
   position: absolute;
   right: 40px;
   width: 100px;
   height: 40px;
   background: rgba(255, 230, 110, 1);
   border-radius: 100%;
   animation: flare 1000ms ease-out forwards;
}
 @keyframes flare {
   100% {
     transform: translateY(-20px) scale(1.5);
     filter: blur(10px);
     opacity: 0;
  }
}
 @keyframes burn {
   0% {
     color: rgba(255, 130, 110, 1);
     background: rgba(255, 230, 110, 1);
     box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
  }
   100% {
     color: rgba(0, 0, 0, 1);
     box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}