html, body {
    margin: 0;
    height: 100%;
    font-size: 1vw;
}

:root {
    --yellow: #ffc60b;
    --orange: #fc9744;
    --mirage: #1e2939;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: url(https://media.istockphoto.com/id/1687246566/vector/seamless-spicy-hot-wings-and-sauce-doodles.jpg?s=612x612&w=0&k=20&c=Py2oW0A2UVXD-JkXk8O0L2uA67l8mA9XJJ7HuPRL1h4=);
}

header {
    background-color: var(--mirage);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

h1 {
    font-size: 2em;
}

button {
    width: 10%;
    min-width: 150px;
    font-size: 2rem;
    padding: 20px;
    letter-spacing: 0.06em;
    position: relative;
    border-radius: 0.6em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--yellow);
    border-bottom: none;
    background: linear-gradient(to right, rgb(255, 232, 157, 0.1) 1%, transparent 40%,transparent 60% , rgb(255, 232, 157, 0.1) 100%);
    color: var(--yellow);
    box-shadow: inset 0 0 10px rgb(255, 232, 157, 0.4), 0 0 9px 3px rgb(255, 232, 157, 0.1);
}

#content {
    width: 50%;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius: 30px;
    min-width: 400px;
    padding: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#content > * {
    background-color: var(--yellow);
    position: relative;
    border-radius: 20px;
}

#content > footer {
    background-color: var(--orange);
    font-style: italic;
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-header > img {
    width: 8vw;
}

.review,
.about-content {
    padding: 20px;
}

.review > h1 {
    margin: 0;
}

.about-content > h1 {
    margin: 0 0 20px 0;
    text-align: center;
}

.review > h3 {
    text-align: end;
}

.about-content > h3 {
    text-align: left;
}

.hours {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.hours > h2 {
    margin-top: 0;
}

.hours > div {
    padding: 5px;
}

.location {
    padding: 25px;
}

footer {
    height: 10%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > a {
    text-decoration: none;
    color: white;
}

footer > a:hover {
    color: #ffc60b;
    cursor: pointer;
}


/* Header button animation */
button:hover {
  color: #ffe89d;
  box-shadow: inset 0 0 10px rgb(255, 232, 157, 0.6), 0 0 9px 3px rgb(255, 232, 157, 0.2);
  cursor: pointer;
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 1s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgb(255, 232, 157, 0.1) 40%,rgb(255, 232, 157, 0.1) 60% , transparent 100%);
}

button:hover:before {
  transform: translateX(15em);
}